.header__container {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    background-color: grey
}

.logo__img {
    height: 10vh;
}

.logo__container {
    margin: 20px;
}

.auth__button {
    margin-right: 50px;
}